$base-font-family: "roboto", roboto, sans-serif;
$base-font-weight: 400;

$base-color: #333;

// Colors
$white: #fff;

// Media Queries
$mobile-screen: 479px;
$mobile-screen-max: max-width 767px;
$tablet-screen-max: max-width 959px;
