<div style="background-color: white;">
  <h1>create test</h1>
  <input type="file"
         *ngIf="userIdLoaded"
         ngFileSelect
         [options]="options"
         (onUpload)="handleUpload($event)"
  >
  <ul>
    <li>
      <label>
        <input type="radio" name="test_type" (change)="changeTestType(1)" checked>
        тест
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="test_type" (change)="changeTestType(0)">
        контрольная
      </label>
    </li>
  </ul>
  <form [formGroup]="createWork" novalidate style="margin-top: 100px;">
    <div class="form-group">
      <label>Название</label>
      <input type="text" class="form-control" formControlName="title">
      <small *ngIf="!createWork.controls.title.valid">
        Название обязательно, 5+ символов
      </small>
    </div>
    <div formArrayName="variants">
      <div *ngFor="let variant of createWork.controls.variants.controls; let i=index">
        <span>Вариант № {{i + 1}}</span>
        <i class="fa fa-times" *ngIf="createWork.controls.variants.controls.length > 1" (click)="removeVariant(i)"
           aria-hidden="true"></i>
        <div [formGroupName]="i">
          <et-variant [group]="createWork.controls.variants.controls[i]" [testType]="testType"></et-variant>
        </div>
        <button (click)="addVariant()">Добавить вариант</button>
      </div>
    </div>
  </form>

  <button (click)="save()">Сохранить</button>
</div>
