<form [formGroup]="signInForm" (submit)="signIn($event)">
    <div class="">
      <div class="form-group form-group_vertical">
        <label>email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="email">
      </div>
      <div class="form-group form-group_vertical">
        <label >password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="password">
      </div>
      <button class="btn btn-success" type="submit">Войти</button>
    </div>
</form>
