<div *ngIf="!!user.group_id">
  <div>Ваша группа: {{groupInfo.group_name}}</div>
  <div>Ваш курс: {{groupInfo.group_age}}</div>
  <div>
    <span *ngIf="user.role === 1">Староста: {{elderName}}</span>
    <span *ngIf="user.role === 2">Вы являетесь старостой данной группы</span>
  </div>

  <div *ngIf="user.role === 2">
    <div>Вы можете обновить данные о вашей группе</div>
    <div *ngIf="!editingGroup"><button (click)="groupNewInfo()">Обновить</button></div>
    <div *ngIf="editingGroup">
      <form [formGroup]="groupForm" novalidate (submit)="updateGroup(groupNewInfo)">
        <div>
          <label for="group-new-name">Новое имя</label>
          <input type="text" id="group-new-name" formControlName="group_name">
          <small *ngIf="!groupForm.controls.group_name.valid">
            Название обязательно, 2+ символов
          </small>
        </div>
        <div>
          <label for="group-new-age">Курс</label>
          <input type="text" id="group-new-age" formControlName="group_age">
        </div>
        <div>
          <label>
            <input type="checkbox" formControlName="reset_key">
            <span>Обновить ключ</span>
          </label>
        </div>
        <button type="submit">Сохранить</button>
        <button type="button" (click)="editingGroup = false">Отмена</button>
      </form>
    </div>
  </div>
  <div>
    <div>Список преподавателей<button *ngIf="user.role === 2 && !addingTeacher" (click)="addingTeacher = true">Добавить</button>:</div>
    <div *ngIf="addingTeacher && user.role === 2">
      <form [formGroup]="newTeacher" (submit)="addTeacher(newTeacher)">
        <label for="teacher-key">Ключ преподавателя</label>
        <input type="text" id="teacher-key" formControlName="key">
        <small *ngIf="!newTeacher.controls.key.valid">
          Ключ не может быть меньше 8 символов
        </small>
        <br>
        <button type="submit">Сохранить</button>
        <button type="button" (click)="addingTeacher = false">Отмена</button>
      </form>
    </div>
    <div *ngFor="let teacher of teachers; index as i">
      <span>{{teacher.last_name}} {{teacher.first_name}} {{teacher.patronymic}}</span>
      <button *ngIf="user.role === 2" (click)="deleteTeacher(teacher.id, i)">Удалить</button>
    </div>
  </div>
  <div>

    <div>Список студентов :</div>

    <div *ngFor="let student of groupInfo.students; index as i">
      <span>{{student.last_name}} {{student.first_name}} {{student.patronymic}}</span>
      <button *ngIf="user.role === 2 && student.role !== 2" (click)="deleteStudent(student.id, i)">Удалить</button>
    </div>

  </div>
</div>

<div *ngIf="!user.group_id">
  <div *ngIf="user.role === 1">
    <div>Вы можете ввести ключ к вашей группе. Вы можете его узнать у вашего старосты</div>
    <form [formGroup]="insertGroup" novalidate (submit)="save(insertGroup)">
      <div>
        <label for="group-hash">Ключ группы</label>
        <input type="text" id="group-hash" formControlName="group_key">
        <small *ngIf="!insertGroup.controls.group_key.valid">
          Ключ обязателен, 8+ символов
        </small>
      </div>
      <button type="submit">Создать</button>
    </form>
  </div>
</div>
