<h1 class="logo1">angular2 + webpack + rails</h1>
<h1 class="logo2">angular2 + webpack + rails</h1>
<h1 class="logo3">angular2 + webpack + rails</h1>
<h1 class="logo4">angular2 + webpack + rails</h1>
<div class="row" style="background: blue">
    <div class="block-1 col-lg-10 col-xs-2 center-lg" style="background-color: rgba(29, 101, 28, 0.86); margin-top: 1em; height: 1.6em;">
        <div class="box col-lg-5 " style="background-color: #fff; height: 0.5em;"></div>
    </div>
    <div class="block-2 col-lg-2 col-xs-10 center-lg" style="background-color: #5e0000; margin-top: 1em; height: 1.6em;">
        <div class="box col-lg-5 " style="background-color: #fff; height: 0.5em;"></div>
    </div>
</div>

<div class="row center-xs" style="background: blue; height: 3em;">
    <div class="col-xs-6 row middle-xs" style="background: rebeccapurple">
        <div class="col-xs-6" style="background: yellowgreen">
            start
        </div>
    </div>
</div>

<button (click)="getInfo()">get info</button>
<br>
<button (click)="signOut()">sign out</button>
<br>
<a routerLink="/auth">to auth</a>
