<div class="layout">
  <et-navbar></et-navbar>
  <div class="main-wrapper row">
    <div class="sidebar-wrapper col-xs-3">
      <et-sidebar></et-sidebar>
    </div>
    <div class="content-wrapper col-xs-9" style="background-color: gold;">
      <div class="row">
        <div class="dash-left col-xs-6">123123</div>
        <div class="dash-right col-xs-6">123123</div>

        <button (click)="getInfo()">get info</button>
        <br>
        <button (click)="signOut()">sign out</button>
        <br>
        <a routerLink="/auth">to auth</a>
      </div>
    </div>
  </div>
</div>

