@media #{$xs-screen} {
  .sidebar-wrapper {
    position: absolute;
    width: 15rem;
    left: -15rem;
  }
}

@media (min-width: $xs-screen-value) and (max-width: $md-screen-value - 1) {
  .sidebar-wrapper {
    position: absolute;
    width: 20rem;
    left: -20rem;
  }
}
